<header>
    <nav id="navbar">
        <div class="container navbar__container">
            <div class="nav__logo">
                <img src="/New folder/umar/Logo.svg" alt="devzokirov">
            </div>
            <div class="nav__hero">
                <ul class="nav__link">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About us</a></li>
                    <li><a href="#">What We Do</a></li>
                    <li><a href="#">Media</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
                <div class="nav__btn">
                    <button>Donate</button>
                </div>
                <div class="hamburger" id="navbar-open">
                    <img src="../images/about/hamburger.svg" alt="hamburger-logo">
                </div>
                <div id="navbar-responsive">
                    <ul class="res-nav-list">
                        <li class="res-nav-item"><a href="#home" class="res-nav-link">Home</a></li>
                        <li class="res-nav-item"><a href="#about" class="res-nav-link">About us</a></li>
                        <li class="res-nav-item"><a href="#service" class="res-nav-link">What We Do</a></li>
                        <li class="res-nav-item"><a href="#portfolio" class="res-nav-link">Media</a></li>
                        <li class="res-nav-item"><a href="#portfolio" class="res-nav-link">Contact</a></li>
                    </ul>
                    <button id="navbar-close">
                  <img src="../images/about/close.svg" alt="close">
               </button>
                </div>
            </div>

        </div>
    </nav>
</header>