footer {
    background: var(--black);
    padding-top: 96px;
    padding-bottom: 96px;
}

.footer__container p {
    text-decoration: line-through;
}

.footer__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.footer__left {
    display: flex;
    justify-content: space-between;
}

.footer__left h4 {
    color: #000000;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
    padding-bottom: 24px;
}

.footer_menu {
    display: flex;
    flex-direction: row;
    gap: 90px;
    padding-right: 60px;
}

.footer__left a {
    color: #000000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}

.footer__left li {
    padding-bottom: 24px;
}

.footer__right {
    padding-left: 80px;
    width: 80%;
}

.footer__right h2 {
    color: #000000;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    padding-bottom: 32px;
}

.footer__input {
    position: relative;
}

.footer__input input {
    border-radius: 4px;
    border: 1px solid rgba(235, 240, 249, 0.30);
    background: var(--black);
    padding: 22px 24px;
    color: rgba(235, 240, 249, 0.30);
    width: 90%;
}

.footer__input input::placeholder {
    color: rgba(235, 240, 249, 0.30);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer__input button {
    position: absolute;
    right: -100px;
    color: var(--primary-text);
    text-align: right;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 4px;
    background: #ffffff;
    backdrop-filter: blur(40px);
    padding: 20px 32px;
}

@media only screen and (max-width:1120px) {
    .footer__container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .footer__left {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .footer_menu {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        gap: 90px;
        padding-right: 60px;
    }
}

@media only screen and (max-width:550px) {
    .footer__right {
        display: none;
    }
    .footer_menu {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 90px;
        padding-right: 60px;
        text-align: center;
    }
}