.navbar{
    background-color: #fff;
    width: 100%;
}
.navbar_block{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar_title{
    display: flex;
    align-items: center;
    gap: 40px;
}
.nav_label{
    display: none;
}