* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1540px;
  margin: 0 auto;
  padding: 0 20px;
}
body {
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
  transition: 0.3s;
}
header {
  background-color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding-top: 20px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.nav-item {
  color: var(--Secondary-text, #525560);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.nav-item:hover {
  color: #000;
}
.navitem a {
  color: #fff;
  text-align: right;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.navitem {
  display: inline-flex;
  padding: 12px 32px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 4px;
  background: var(--Primary-text, #1d2130);
}
main {
  padding-top: 170px;
}
.par3 {
  text-align: center;
  color: var(--Primary-text, #1d2130);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%; /* 25.6px */
}
.par5 {
  color: var(--Primary-text, #1d2130);
  text-align: center;

  /* H1 */
  font-family: Roboto;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 67.2px */
}
.par4 {
  padding-top: 30px;
}
.par7 {
  color: var(--Secondary-text, #525560);
  text-align: center;
  padding-top: 16px;
  /* Paragraph */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
}
.img2 {
  padding: 48px 110px 110px 96px;
  margin-left: 10px;
}
.par9 {
  padding-top: 30px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  gap: 32px;
}
.par10 {
  color: var(--Secondary-text, #525560);

  /* Paragraph */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
}
.par11 {
  color: var(--Primary-text, #1d2130);

  /* H2 */
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 57.6px */
}
.fl {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}
.par13 {
  color: var(--Secondary-text, #525560);

  /* Paragraph */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
}
ul {
  padding-top: 16px;
  padding-left: 30px;
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 10px;
  flex-direction: column;
}
.par14 {
  color: var(--Primary-text, #1d2130);
  padding-top: 32px;
  display: flex;
  justify-content: start;
  align-items: start;
  /* H3 */
  font-family: Roboto;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 42px */
}
.par12 {
  padding-left: 300px;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  gap: 16px;
}
.par16 {
  color: var(--Secondary-text, #525560);

  /* Paragraph */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
}

.par15 {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
footer {
  background: #000;
  padding-top: 96px;
  padding-bottom: 96px;
}

.footer__container p {
  text-decoration: line-through;
}

.footer__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.footer__left {
  display: flex;
  justify-content: space-between;
}

.footer__left h4 {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
  padding-bottom: 24px;
}

.footer_menu {
  display: flex;
  flex-direction: row;
  gap: 90px;
  padding-right: 60px;
}

.footer__left a {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.footer__left li {
  padding-bottom: 24px;
}

.footer__right {
  padding-left: 80px;
  width: 80%;
}

.footer__right h2 {
  color: #fff;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  padding-bottom: 32px;
}

.footer__input {
  position: relative;
}

.footer__input input {
  border-radius: 4px;
  border: 1px solid rgba(235, 240, 249, 0.3);
  background: var(--black);
  padding: 22px 24px;
  color: rgba(235, 240, 249, 0.3);
  width: 90%;
}

.footer__input input::placeholder {
  color: rgba(235, 240, 249, 0.3);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer__input button {
  position: absolute;
  right: -100px;
  color: var(--primary-text);
  text-align: right;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 4px;
  background: #fff;
  backdrop-filter: blur(40px);
  padding: 20px 32px;
}

@media only screen and (max-width: 1120px) {
  .footer__container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .footer__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .footer_menu {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 90px;
    padding-right: 60px;
  }
}

@media only screen and (max-width: 550px) {
  .footer__right {
    display: none;
  }
  .footer_menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 90px;
    padding-right: 60px;
    text-align: center;
  }
}
