@import "../base/global.css";
main {
    height: 1800px;
}
.container {
    max-width: 1800px;
    margin: 0 auto;
    padding: 0 110px;
}

.line {

    margin-top: 100px;
    margin-left: 130px;
}

.our {
    color: var(--Primary-text, #1D2130);
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 2px;
text-transform: uppercase;
margin-left: 250px;
margin-top: -15px;
}

.city {
    margin-top: 50px;
    margin-left: 200px;
    font-size: 56px;
}

.et {
    width: 832px;
    color: var(--Secondary-text, #525560);

/* Paragraph */
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 160%; /* 25.6px */
    margin-left: 200px;
    margin-top: 50px;
    line-height: 160%;
}

.vivera {
    width: 832px;
    color: var(--Secondary-text, #525560);

/* Paragraph */
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 160%; /* 25.6px */
    margin-left: 200px;
    margin-top: 30px;
    line-height: 160%;
}

.cons {
    width: 832px;
    color: var(--Secondary-text, #525560);

/* Paragraph */
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 160%; /* 25.6px */
    margin-left: 200px;
    margin-top: 30px;
    line-height: 160%;
}

.img2 {
    margin-left: 200px;
    margin-top: 50px;
}

.cool {
    font-size: 48px;
    margin-top: 50px;
    font-style: normal;
    margin-left: 200px;
    color: #1D2130;
    font-family: Roboto;
    font-weight: 700;
    line-height: 120%;
}

.sed {
    width: 832px;
    color: var(--Secondary-text, #525560);

/* Paragraph */
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 160%; /* 25.6px */
    margin-left: 200px;
    margin-top: 50px;
    line-height: 160%;
}

.li {
    width: 832px;
    color: var(--Primary-text, #1D2130);
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 160%; /* 25.6px */
    margin-top: 8px;
    margin-left: 200px;
}

.pulvinar {
    width: 832px;
    color: var(--Secondary-text, #525560);

/* Paragraph */
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 160%; /* 25.6px */
    margin-top: 30px;
    margin-left: 200px;
}

.qwe {
margin-top: 96px;
flex-shrink: 0;
height: 436px;
width: 1500px;
background-color: #EBF0F9;

}

.icon {
    width: 32px;
height: 32px;
flex-shrink: 0;
    position: relative;
    left: 238px;
    top: 100px;
}

.week {
    margin-left: 300px;
    margin-top: 65px;
    font-size: 24px;
}

.dol {
    margin-top: 10px;
    line-height: 160%;
    margin-left: 300px;
}
.icon2 {
    width: 32px;
height: 32px;
flex-shrink: 0;
    position: relative;
    padding-left: 48px;
    top: 100px;   
}
.week2 {
    margin-left: 100px;
    margin-top: 65px;
    font-size: 24px;   
}
.dol2 {
    margin-top: 10px;
    line-height: 160%;
    margin-left: 100px;   
}

.asdf {
    margin-top: -200px;
    margin-left: 700px;
}

.qwerty {
    margin-top: -200px;
    margin-left: 700px;
}

section {
    height: 600px;
    width: 100%;
}
.uchcontent {
    width: 832px;
    display: flex;
    gap: 24px;
    margin-top: 96px;
    
}
.tre {
    width: 411px;
height: 421px;
flex-shrink: 0;
border-radius: 12px;
opacity: 0.5;
background-image: url(../../images/project/Image\ 40k.png);
}
.misson {
padding: 80px 48px 16px 48px;
width: 315px;
color: #FFF;
font-family: Roboto;
font-size: 28px;
font-style: normal;
font-weight: 700;
line-height: 150%;
}

.amet {
    padding: 0 48px 0px 48px;
    width: 315px;
    color: #FFF;

/* Paragraph */
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 160%; /* 25.6px */
}

.see {
    margin-top: 34px;
    margin-left: 48px;
    width: 132px;
    height: 51px;border: none;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
background: #FFF;
}
.seemore {
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.tre2 {
    
    width: 411px;
    height: 421px;
    flex-shrink: 0;
    border-radius: 12px;
    opacity: 0.5;
        /* margin-left: 110px; */
        background-image: url(../../images/project/Image\ weekly.png);
}

.tre3 {
    width: 411px;
    height: 421px;
    flex-shrink: 0;
    border-radius: 12px;
    opacity: 0.5;
        /* margin-left: 110px; */
        background-image: url(../../images/project/Image\ wildlife.png);
}

.secti {
    margin-left: 110px;
    border-radius: 12px;
opacity: 0.5;
background: var(--Black, #110e0e);
width: 1280px;
height: 384px;
flex-shrink: 0;
    /* height: 400px; */
    text-align: center;
    background-image: url(../../images/project/Image\ thee.png);
}

.energy {
    margin-left: 250px;
}

.contrributes {
    padding-top: 93px;
    width: 631px;
    color: #FFF;
text-align: center;
font-family: Roboto;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 120%;
margin-left: 325px;
color: #FFF;
}
.clasvolun {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    color: #fff;
    font-weight: 500;
    line-height: normal;
}
.clasvolun2 {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.butvolun {
  display: flex;
  gap: 32px;
}

.volun {
    height: 51px;
    width: 200px;
    margin-top: 32px;
    margin-left: 466px;
    border: none;
    border-radius: 4px;
    background-color: #70C174;
}

.volun2 {
    position: absolute;
    margin-top: 32px;
    margin-left: 698px;
    height: 51px;
    width: 116px;
    color: rgb(1, 1, 1);
    border: none;
    border-radius: 4px;
    background-color: white;
}
/* @mediawwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww */
@media (max-width: 1800px) {
	/* // lg */
}

@media (max-width: 976px) {
	/* // md */
}

@media (max-width: 768px) {
	/* // sm */
    .uchcontent {
        flex-wrap: wrap;
        justify-content: center;
        margin-left: 245px;
    }
    .secti {
        margin-top: 800px;
    }
    .qwe {
        margin-top: 300px;
    }
    .et {
        width: ;
    }
 }

@media (max-width: 480px) {
	/* // xs */
}