@import "../base/global.css";
main {
  height: 1500px;
}
.container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 110px;
}
.text_contents {
    justify-content: center;    
}
.line {
  margin-top: 105px;
  margin-left: 128px;
}

.our {
  margin-left: 224px;
  margin-top: -15px;
  color: var(--Primary-text, #1d2130);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.project_content {
  margin-top: 32px;
  margin-left: 224px;
  margin-right: 224px;
  font-size: 55px;
  color: var(--Primary-text, #1d2130);
  font-family: Roboto;
  font-size: 55px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 67.2px */
}

.paragraph {
  width: 100%;
  margin-left: 224px;
  margin-right: 224px;
  color: var(--Secondary-text, #525560);
  /* Paragraph */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
  margin-top: 32px;
  flex-wrap: wrap;
  line-height: 160%;
}

.img2 {
  margin-left: 224px;
  margin-right: 224px;
  margin-top: 32px;
}
.project_contentikki {
  margin-left: 224px;
  margin-right: 224px;
  color: var(--Primary-text, #1d2130);
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}
.li_content {
  margin-left: 224px;
  margin-right: 224px;
  color: var(--Primary-text, #1d2130);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
}
/* box_kontent*********************************** */

.box_kontent {
  margin-top: 180px;
  flex-shrink: 0;
  height: 536px;
  width: 100%;
  background-color: #ebf0f9;
  display: flex;
  gap: 48px;
}
.boks_content1 {
  margin-left: 128px;
  width: 488px;
  height: 436px;
}
.icon1 {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  position: relative;
  top: 96px;
}

.box_contentpar1 {
  margin-left: 52px;
  margin-top: 65px;
  font-size: 24px;
  width: 100%;
}

.box_contentlorem1 {
  margin-top: 10px;
  line-height: 160%;
  margin-left: 52px;
  font-size: 16px;
  width: 100%;
}
.boks_content2 {
  width: 664px;
  width: 488px;
  height: 436px;
}
.icon2 {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  position: relative;
  top: 96px;
}
.box_contentpar2 {
  margin-left: 52px;
  margin-top: 65px;
  font-size: 24px;
  width: 100%;
}
.box_contentlorem2 {
  margin-top: 10px;
  line-height: 160%;
  margin-left: 52px;
  font-size: 16px;
  width: 100%;
}
/* uchcontent******************************** */
.uchbox_content {
  /* width: 832px; */
  display: flex;
  gap: 24px;
  margin-top: 96px;
  justify-content: center;
}
.uchbox_text1 {
  width: 411px;
  height: 421px;
  flex-shrink: 0;
  border-radius: 12px;
  /* opacity: 0.5; */
  background-image: url(../../images/project/Image\ 40k.png);
}
.uchbox_text2 {
 width: 411px;
  height: 421px;
  flex-shrink: 0;
  border-radius: 12px;
  /* opacity: 0.5; */
  background-image: url(../../images/project/Image\ weekly.png);
}

.uchbox_text3 {
  width: 411px;
  height: 421px;
  flex-shrink: 0;
  border-radius: 12px;
  /* opacity: 0.5; */
  background-image: url(../../images/project/Image\ wildlife.png);
}
.misson {
  margin-left: 48px;
  margin-top: 80px;
  /* padding: 80px 48px 0 48px; */
  color: #fff;
  font-family: Roboto;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

.amet {
  margin-left: 48px;
  margin-top: 16px;
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
}

.button_see {
  margin-top: 34px;
  margin-left: 48px;
  width: 132px;
  height: 51px;
  border: none;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: #fff;
}
.seemore {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/* contributes******************************************** */

.contributes {
  margin: 96px 80px 0 80px;
  border-radius: 12px;
  flex-shrink: 0;
  height: 384px;
  text-align: center;
  justify-content: center;
  background-image: url(../../images/project/Image\ thee.png);
}
.contribute {
  padding-top: 93px;
  margin-left: 325px;
  margin-right: 324px;
  color: #fff;
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}
.contbox {
    display: flex;
    gap: 32px;
    text-align: center;
    justify-content: center;
}
.button_volun1 {
  height: 51px;
  width: 200px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  background-color: #70c174;
}
.clasvolun {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  color: #fff;
  font-weight: 500;
  line-height: normal;
}
.button_volun2 {
  height: 51px;
  width: 116px;
  color: rgb(1, 1, 1);
  border: none;
  border-radius: 4px;
  background-color: white;
}
.clasvolun2 {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
}
/* @mediawwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww */
@media (max-width: 1800px) {
  /* // lg */
}

@media (max-width: 1320px) {
    .container {
        max-width: 1320px;
        margin: 0 auto;
        padding: 0 20px;
      }
      .text_contents {
        justify-content: center; 
        margin-left: 20px;   
    }
    .box_kontent {
    display: inline-block;
    height: 900px;
    width: 100%;
    flex-shrink: 0;
    background-color: #ebf0f9;
    }
    .boks_content2 {
        margin-left: 128px;
      }
    .contributes {
        font-size: 30px;
        margin-left: 20px;
    }
    .uchbox_content {
        width: 832px;
        display: inline-block;
    margin-left: 324px;
        margin-top: 96px;
        justify-content: center;
      }
      .mission {
        margin-top: 36px;
      }
      .contribute {
        font-size: 24px;
        margin-left: 0;
        width: 100%;
    }
    .li_content {
        width: 100%;
      }
}
@media (max-width: 1100px) {
    .container {
        max-width: 1100px;
        margin: 0 auto;
        padding: 0 20px;
      }
      .text_contents {
        justify-content: center;
        margin-left: 0;    
    }
    .project_content {
        margin-left: 0;
        font-size: 30px;
        width: 100%;
    }
    .paragraph {
        margin-left: 0;
    }
    .img2 {
        margin-left: 0;
        width: 768px;
    }
    .project_contentikki {
        margin-left: 0;
        font-size: 30px;
    }
    .li_content {
        margin-left: 0;
    }
    .contributes {
        margin-left: 0;
    }
    .contribute {
        font-size: 24px;
        margin-left: 0;
        width: 100%;
    }
    .li_content {
        width: 100%;
      }
     
}
@media (max-width: 768px) {
  .container {
    max-width: 768px;
    margin: 0 auto;
    padding: 0;
  }
  .uchcontent {
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 60px;
  }
  .img2 {
    margin-left: 0;
    width: 480px;
}
.box_kontent {
    display: inline-block;
    height: 900px;
    width: 100%;
    flex-shrink: 0;
    background-color: #ebf0f9;
    }
    .boks_content2 {
        margin-left: 0;
      }
      .boks_content1 {
        margin-left: 0;
      }
      .boks_content2 {
        margin-left: 0;
      }
      .uchbox_content{
        margin-left: 0;
      }
      .contribute {
        font-size: 20px;
        width: 100%;
      }
      .project_content {
        width: 100%;
      }
      .li_content {
        width: 100%;
      }
}

@media (max-width: 480px) {
  /* // xs */
}
